{% assign config = config_list|get:lang %}

{% include "inc/header" %}

  <div id="page" class="page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-title">{{title|escape}}</h1>
          <hr>
          <div class="page-content">{{content}}</div>
        </div>
      </div>
    </div>
  </div>

{% include "inc/footer" %}
