{% include "inc/header" %}

  <div id="page" class="page">
    <div class="container">
      <div class="row">
        <h1 class="page-title">{{title|escape}}</h1>
        <hr>
        <div class="page-content">{{content}}</div>
      </div>
    </div>
  </div>

{% include "inc/footer" %}
