@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 80px;
}

#page {
  min-height: 500px;
}
#page h1, #page h2, #page h3, #page h4, #page h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#footer {
  margin-top: 80px;
  border-top: 1px solid #DDD;
  padding-top: 10px;
}

pre.highlight {
  border: none;
  padding: 0;
}
pre.highlight code {
  font-size: 16px;
  background-color: #EEE;
  padding: 10px 20px;
}
