@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 60px;
  background: url(/assets/img/bg.jpg);
  line-height: 1.8;
}

.xss-logo {
  font: 25px "Helvetica Neue", "Open Sans", sans-serif;
  font-weight: 100;
  color: #444;
  margin-right: 20px;
}

.no-jumbotron {
  padding: 48px 30px;
}
.jumbotron {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.jumbotron .xss-logo {
  font-size: 50px;
}
.jumbotron .headline {
  font: 25px "Helvetica Neue", "Open Sans", sans-serif;
  font-weight: 100;
  color: #444;
  margin-right: 20px;
}

#page {
  min-height: 500px;
}
#page h1, #page h2, #page h3, #page h4, #page h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#footer {
  margin-top: 80px;
  padding-top: 10px;
  margin-bottom: 30px;
}
#footer #github {
  display: inline-block;
  height: 20px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
}
#footer #copyright, #footer #fork {
  display: inline-block;
  height: 20px;
  font-size: 14px;
  overflow: hidden;
  margin: 0 20px;
  padding: 0;
}

pre.highlight {
  border: none;
  padding: 0;
}
pre.highlight code {
  font-size: 16px;
  background-color: #EEE;
  padding: 10px 20px;
}
.jumbotron pre.highlight code {
  background-color: #FFF;
  border: 1px solid #DDD;
}