  <footer id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="text-center">
          Powered by ucdok.com
        </div>
      </div>
    </div>
  </footer>

</body>

</html>

<link rel="stylesheet" href="/assets/highlight/styles/github.css">
<script src="/assets/highlight/highlight.pack.js"></script>
<script>
$('pre code').each(function () {
  $(this).addClass('javascript');
  $(this).closest('pre').addClass('highlight');
});
hljs.initHighlightingOnLoad();
</script>
