  <footer id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <img src="https://camo.githubusercontent.com/5fdceef627ed7f30220fafa65e0484f157fb1316/68747470733a2f2f6e6f6465692e636f2f6e706d2f7873732e706e673f646f776e6c6f6164733d747275652673746172733d74727565" alt="xss" data-canonical-src="https://nodei.co/npm/xss.png?downloads=true&amp;stars=true" style="max-width:100%;">
        </div>
      </div>
    </div>
  </footer>
  <!-- jQuery Load -->
  <script src="/assets/js/jquery-min.js"></script>

  <!-- Bootstrap JS -->
  <script src="/assets/js/bootstrap.min.js"></script>

</body>

</html>

<link rel="stylesheet" href="/assets/highlight/styles/github.css">
<script src="/assets/highlight/highlight.pack.js"></script>
<script>
$('pre code').each(function () {
  $(this).addClass('javascript');
  $(this).closest('pre').addClass('highlight');
});
hljs.initHighlightingOnLoad();
</script>
